body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: $classic-black;
  background-color: $main-background-color;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) {
    margin: 0;
    padding: 0;
    display: flex;
  }
}

/* For smooth page scrolling */
html {
  scroll-behavior: smooth;
}
