@import '~node_modules/modern-normalize/modern-normalize.css';

$classic-black: #000000;
$classic-white: #ffffff;
$gray-text-color: #b5b7c0;
$table-text-color: #292d32;
$input-bg-color: #f9fbff;
$nav-links-text-color: #9197b3;
$current-page-color: #5932ea;
$main-background-color: #fafbff;
$buttons-digit-color: #404b52;
