.side-bar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 39px 28px 76px;
  background-color: $classic-white;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100px;
    overflow-y: hidden;
  }

  @media screen and (min-width: 768px) {
    width: 309px;
  }

  &.open {
    height: 100%;
  }
}

.side-bar__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 52px;

  .app-version {
    color: #838383;
    align-self: flex-end;
    font-size: 10px;
  }
}

.side-bar__logo-link {
  cursor: pointer;
  height: 39px;
  display: flex;
  gap: 11px;
  align-items: center;

  font-size: 26px;
  letter-spacing: 0.01em;
  font-weight: 600;
}

.side-bar__nav {
  width: 100%;
}

.side-bar__list {
  width: 100%;
}

.side-bar__list-item {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.side-bar__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
  width: 100%;
  padding: 13px;
  border-radius: 8px;

  color: $nav-links-text-color;
  fill: $nav-links-text-color;

  &.current {
    color: $classic-white;
    fill: $classic-white;
    background-color: $current-page-color;
  }
}

.side-bar__arrow-icon {
  margin-left: auto;
}

.side-bar__user-wrapper {
  display: flex;
  margin-top: auto;
  gap: 12px;
}

.side-bar__user-logo {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.side-bar__user-name {
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: 500;
}

.side-bar__user-role {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.01em;
}
