<section>
  <h2>All customers</h2>
  <p>Active members</p>
  <form autocomplete="off">
    <input type="submit" />
    <input type="text" />
  </form>
  <table>
    <thead>
      <tr>
        <th>Customer name</th>
        <th>Company</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Country</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody data-table-body>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
