<section class="section">
  <div class="section__header-wrapper">
    <div>
      <h2 class="section__title">All users</h2>
    </div>
    <form autocomplete="off" class="section__form">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 32 32"
        class="section__submit-btn"
      >
        <use href="./images/icons.svg#icon-search" />
      </svg>
      <input
        type="text"
        class="section__input"
        placeholder="Search"
        data-search-input
      />
    </form>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr class="table__row">
        <th>
          <button class="table__sort-button" data-sort-by="id">ID</button>
        </th>
        <th>
          <button class="table__sort-button" data-sort-by="name">Name</button>
        </th>
        <th>Username</th>
        <th>Email</th>
        <th>
          <button class="table__sort-button" data-sort-by="address.city">
            City
          </button>
        </th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody class="table__body" data-table-body></tbody>
  </table>
  <div class="section__footer-wrapper">
    <p class="section__description">
      Total users: <span data-total-counter></span>
    </p>
  </div>
</section>
