<aside class="side-bar" data-side-bar>
  <div class="side-bar__logo-wrapper">
    <a class="side-bar__logo-link" data-toggle-side-bar
      ><svg width="37" height="37" viewBox="0 0 37 37" class="side-bar__icon">
        <use href="./images/icons.svg#icon-setting" />
      </svg>
      Dashboard</a
    >
    <p class="app-version">v.01</p>
  </div>
  <nav class="side-bar__nav">
    <ul class="side-bar__list">
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-key-square" />
          </svg>
          <span class="side-bar__item-text">Dashboard</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right" />
          </svg>
        </a>
      </li>
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-d-square" />
          </svg>
          <span class="side-bar__item-text">Product</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right" />
          </svg>
        </a>
      </li>
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link current"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-user-square" />
          </svg>
          <span class="side-bar__item-text">Customers</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right-current" />
          </svg>
        </a>
      </li>
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-wallet-money" />
          </svg>
          <span class="side-bar__item-text">Income</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right" />
          </svg>
        </a>
      </li>
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-discount-shape" />
          </svg>
          <span class="side-bar__item-text">Promote</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right" />
          </svg>
        </a>
      </li>
      <li class="side-bar__list-item">
        <a href="/" class="side-bar__link"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="side-bar__icon"
          >
            <use href="./images/icons.svg#icon-message-question" />
          </svg>
          <span class="side-bar__item-text">Help</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            class="side-bar__arrow-icon"
          >
            <use href="./images/icons.svg#icon-chevron-right" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div class="side-bar__user-wrapper">
    <img
      class="side-bar__user-logo"
      src="./images/user-logo.jpg"
      alt="current user logo"
      width="42"
    />
    <div>
      <h3 class="side-bar__user-name">Evano</h3>
      <h4 class="side-bar__user-role">Project manager</h4>
    </div>
  </div>
</aside>
